<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球金融平台信息咨询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <!-- Le styles -->
    <link href="docs/assets/css/bootstrap.css" rel="stylesheet">
    <link href="docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="icon" href="../static/docs/assets/ico/favicon.ico" type="img/x-ico" />

</head>
<body>
        <header>
            <div id="search">
                <div class="searchs">
                    <p>全球金融平台信息咨询</p>
                    <div class="input-append">
                        <select class="span4" style="width: 92px;height:  50px;" id="searchType">
                            <option value="全站">全站</option>
                            <option value="监管机构">监管机构</option>
                            <option value="信誉度">信誉度</option>
                        </select>
                        <input type="text" class="span3" value="" id="desction" placeholder="请输入平台名字">
                        <!--<a href="#myModal" data-toggle="modal" class="btn btn-warning">搜索</a>-->
                        <button id="confSearch" class="btn btn-warning"><i class="icon-search icon-white"></i></button>
                    </div>
                </div>
            </div>
        </header>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">认证信息</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-block alert-error hidden">
                    <h4 class="alert-heading" id="err">sorry!</h4>
                </div>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="userName">* 姓名：</label>
                        <div class="controls">
                            <input type="text" id="userName" name = "userName" placeholder="请输入姓名">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="tellnumber">* 手机：</label>
                        <div class="controls">
                            <input type="text" id="tellnumber" name="tellnumber" placeholder="请输入手机">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="tellnumber">验证码：</label>
                        <div class="controls">
                            <input type="text" id="codes" name="codes" class="input-small" placeholder="验证码"/>
                            <img id="imgObjs" alt="验证码" src="tel/validateCode" onclick="changeImg()"/>
                            <a href="#" onclick="changeImg()">换一张</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="btn btn-primary" id="save">确定</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="body"></div>
        <footer>
            <div>常用监管机构： 英国FCA 瑞士FINMA 美国NFA 日本FSA 香港SFC 澳大利亚ASIC</div>
            <!--<div>本站使用凡科建站搭建</div>-->
        </footer>

    <!--<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>-->
    <script src="docs/assets/js/jquery.js"></script>
    <!--<script src="docs/assets/js/google-code-prettify/prettify.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-transition.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-alert.js"></script>-->
    <script src="docs/assets/js/bootstrap-modal.js"></script>
    <!--<script src="docs/assets/js/bootstrap-dropdown.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-scrollspy.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-tab.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-tooltip.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-popover.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-button.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-collapse.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-carousel.js"></script>-->
    <!--<script src="docs/assets/js/bootstrap-typeahead.js"></script>-->
    <!-- <script src="docs/assets/js/application.js"></script>     -->
    <script src="js/main.js"></script>
</body>

</html>